@import url('https://fonts.googleapis.com/css2?family=Teko:wght@300;400;500;600;700&family=Titillium+Web:wght@200&display=swap');

/* CSS reset ---------------------------*/

*,
*:after,
*:before {
    box-sizing: border-box;
}

body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
form,
fieldset,
input,
textarea,
p,
blockquote,
th,
td {
    margin: 0;
    padding: 0;
}

html,
body {
    margin: 0;
    padding: 0;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

fieldset,
img {
    border: 0;
}

input {
    border: 1px solid #b0b0b0;
    padding: 3px 5px 4px;
    color: #979797;
    width: 190px;
}

address,
caption,
cite,
code,
dfn,
th,
var {
    font-style: normal;
    font-weight: normal;
}

ol,
ul {
    list-style: none;
}

caption,
th {
    text-align: left;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: 100%;
    font-weight: normal;
}

q:before,
q:after {
    content: '';
}

abbr,
acronym {
    border: 0;
}


/* general --------------------------*/

body {
    font-size: 10px;
}


/* navbar --------------------------- */


/* info-section ------------------------ */

.main-container {
    background-image: linear-gradient(to right top, #12428b, #064aa8, #0152c5, #1059e2, #285fff);
    /* height: 100vh; */
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
}

.container {
    height: 75vh;
    width: 75vw;
    background-color: #fff;
    display: flex;
    margin-top: 6%;
    box-shadow: 1px 10px 35px -4px rgba(0, 0, 0, 0.75);
    border-radius: 1rem;
}

.img-section {
    height: 100%;
    width: 45%;
}

.MyImage {
    border-top-left-radius: 0.85rem;
    border-bottom-left-radius: 0.85rem;
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.info-section {
    height: 100;
    width: 55%;
    background-color: white;
    padding: 4rem;
    margin-top: auto;
    margin-bottom: auto;
}

.main-heading {
    font-size: 7rem;
    color: #1544c0;
    font-weight: 700;
    line-height: 80%;
    font-family: 'Teko', sans-serif;
}

.sub-heading {
    font-size: 1.2rem;
    font-weight: 500;
    color: #1544c0;
    line-height: 4rem;
    font-family: 'Teko', sans-serif;
}

.info-quote {
    font-size: 1.9rem;
    font-family: 'Teko', sans-serif;
    font-weight: 400;
}

.info-data {
    font-size: 1.4rem;
    font-weight: 100;
    font-family: 'Titillium Web', sans-serif;
}

.container-two{
    height: 50vh;
    width: 75vw;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    margin-top: 5%;
    margin-bottom: 10%;
    box-shadow: 1px 10px 35px -4px rgba(0, 0, 0, 0.75);
    border-radius: 1rem;
}

.mam{
    background-color: white;
    /* height: 30%; */
    border-radius: 1rem;
}

.mam-heading{
    font-size: 3rem;
    text-align: center;
    color: #1544c0;
    font-weight: 700;
    margin-top: 2%;
    font-family: 'Teko', sans-serif;
}
.MAM-content{
    display: flex;
    height: 70%;
}
.one{
    background-color: violet;
    width: 33.3333%;
}
.two{
    background-color: violet;
    width: 33.3333%;
}
.three{
    background-color: violet;
    width: 33.3333%;
}